[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "pyflakes-pathogen"]
	path = pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/py.test"]
	path = bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-gradle"]
	path = bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "bundle/nose.vim"]
	path = bundle/nose.vim
	url = git@github.com:lambdalisue/nose.vim.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
